*{
	margin: 0;
	padding: 0;
}

.main{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	background-color: #DAE8E6;
	overflow: hidden;
}

.inner{
	height: 50px;
  	background-color: #eee;
  	border: 1px solid #999;
}

.main .out{
	box-sizing: border-box;
  	float: left;
  	padding: 10px; 
}

@media screen and (min-width: 768px){

	.main .row-1{
	width: 33.3333333%;
	}

	.main .row-2-1 , .row-2-3{
		width: 25%;
	}

	.main .row-2-2{
		width: 50%;
	}

	.main .row-3-1{
		width: 8.333333%;
	}

	.main .row-3-2{
		width: 16.666667%;
	}

	.main .row-3-3{
		width: 49.666667%
	}
}

@media screen and (max-width: 768px){

	.main .-row-1{
		width: 50%;
	}
	.main .-row-2{
		width:  100%;
	}
	.main .-row-3-1 , .-row-3-3{
		width: 25%;
	}
	.main .-row-3-2{
		width: 50%;
	}
	.main .-row-4-1 , .-row-4-2{
		width: 20%;
	}
	.main .-row-4-3{
		width: 60%;
	}
	.main .-row-5{
		width: 25%;
	}
}